body, nav, ul, li, a  {margin: 0; padding: 0;}
body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
a {text-decoration: none;}
.container {
    width: 90%;
    max-width: 900px;
    margin: 10px auto;
}
.toggleMenu {
    display:  none;
    background: #666;
    padding: 10px 15px;
    color: #fff;
}
.nav {
    list-style: none;
     *zoom: 1;
     background:#175e4c;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 9em;
}
.nav a {
    padding: 10px 15px;
    color:#fff;
}
.nav li {
    position: relative;
}

.nav > li {
  float: left;
  border-top: 1px solid #104336;
}

/* top level */
.nav > li > .parent {
  background-image: url("images/downArrow.png");
  background-repeat: no-repeat;
  background-position: right;
}

/* top level  */
.nav > li > a {
  display: block;
}

/* hide and show */
.nav li  ul {
  position: absolute;
  left: -9999px;
}

/* both of this bring them back */
.nav > li.hover > ul {
  left: 0;
}

.nav li li.hover ul {
  left: 100%;
  top: 0;
}

/* style level 2 anchors*/
.nav li li a {
  display: block;
  background: #1d7a62;
  position: relative;
  z-index:100;
  border-top: 1px solid #175e4c;
}

/* style level 3 anchors */
.nav li li li a {
  background:#249578;
  z-index:200;
  border-top: 1px solid #1d7a62;
}

@media screen and (max-width: 910px) {
  .active {
    display: block;
}
.nav > li {
    float: none;
}
.nav > li > .parent {
    background-position: 95% 50%;
}
.nav li li .parent {
    background-image: url("images/downArrow.png");
    background-repeat: no-repeat;
    background-position: 95% 50%;
}
.nav ul {
    display: block;
    width: 100%;
}
.nav > li.hover > ul , .nav li li.hover ul {
    position: static;
}

}