<!--
What?
  - target the descendants of a element or a group of elements  
  - know that the type selector and descdenant selectosr are often the
  reql workhorses in a maintainable css system. Other complex css selectors
  would be useful in certain cenarios but they are not as powerful and flexible
  as these 2.

When?
  - great for applying base styles across the board


-->
<!-- ================ -->
<!-- simple -->
<!-- ================ -->
<!--
  blockquote p {
    padding-left: 2em
  }

- this will target where all p's that are descdenants of a blockquote
will be indented

-->

<!-- ================ -->
<!-- combing id and classes -->
<!-- ================ -->
<!--
#into {
  font-weight: bold:
}

.date-posted {
  color: #ccc;
}

<p id="intro" > Happy birthday</p>
<p class="date-posted" > 20/1/2013 </p>

- rather in adding classes and id to every element you want can combine
the type and descdenant selector



#latest h1{
  font-size: 1.8em;
}

#latest .date-posted{
  font-weight: bold;
}

<article id="latest">
  <h1> Happy Birthday </h1>
  <p class="date-posted"> <time datetime="2013-01-20">20/1/2013</time></p>
</article>
-->


