*,
*:before,
*:after {
  box-sizing: border-box;
}


html {
  outline: red 1px solid;
  margin: 0px;
  padding: 0px;
}

body {
  outline: green 1px solid;
  margin: 0px;
  padding: 0px; 
}

/* butrton styling */
.menu-toggle {
  display: inline-block;
  padding: .75em 15px;
  font-size: 2em;
  color: #333;
}

/* Button styling */
.menu-toggle:hover, 
.menu-toggle:focus {
  color: #c00;
}

/*
Default styles + Mobile first
Offscreen menu style
*/
.main-menu {
  position: absolute;
  left: -200px;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease,
              box-shadow 0.3s ease;
  z-index: 2;
}
.main-menu ul {
  list-style: none;
  margin: 0;
  /* pushed from the top */
  padding: 2.5em 0 0;
  min-height: 100%;
  /* width of the side nav */
  width: 200px;
  background: #1a1a1a;
}

.main-menu a {
  display: block;
  padding: .75em 15px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #383838;
}

.main-menu li:first-child a {
  border-top: 1px solid #383838;
}

.main-menu a:hover,
.main-menu a:focus {
  background: #333;
  text-decoration: underline;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

/*
On small devices, allow it to toggle ...
*/
.main-menu:target {
  left: 0;
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target + .backdrop {
  position: absolute;
  display: block;  
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0,0,0,.85);
  cursor: default;
}
